{% extends "layout.html.twig" %}

{% block bundle_body %}

<div class="row">
    <div class="panel-group padding-gp">
        <div class="col-lg-6 padding-int">
            <div class="panel panel-default" id="Thomas_home_panel">
                <div class="panel-heading"><a href="#" data-toggle="tooltip" data-placement="right" title="Thomas est étudiant à l'ESIEA.
                Il aime grandement la musique et lui arrive de créer quelques morceaux quand l'envie lui prend.
                 Il est également passionné par le Japon et toute sa culture.">Thomas</a></div>
                <div class="panel-body">Musiques crées ou conseillées par Thomas
                    <br>
                    {% for article in articlesT %}
                        <div class="title_date"><a href={{ path('bt_blog_viewArticle',{'id':article.id}) }}>{{ article.title }}</a> {{ article.date }}</div>
                        <div class="well">
                        {% for media in medias %}
                            {% if media.articles == article %}
                               <iframe style="display: block; margin: auto;" width="300" height="170" src="https://www.youtube.com/{{ media.link }}" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        {% endfor %}
                            <div class="article_content">{{ article.content }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 padding-int">
            <div class="panel panel-default" id="Benjamin_home_panel">
                <div class="panel-heading"><a href="#" data-toggle="tooltip" data-placement="right" title="Benjamin est étudiant à l'ESIEA.
                Il aime faire du montage vidéo avec des films de ses voyages autour du monde.">Benjamin</a></div>
                <div class="panel-body">Montages vidéos réalisés par Benjamin
                    <br>
                    {% for article in articlesB %}
                        <div class="title_date"><a href={{ path('bt_blog_viewArticle',{'id':article.id}) }}>{{ article.title }}</a> {{ article.date }}</div>
                        <div class="well">
                        {% for media in medias %}
                            {% if media.articles == article %}
                                <iframe style="display: block; margin: auto;" width="300" height="170" src="https://www.youtube.com/{{ media.link }}" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                        {% endfor %}
                            <div class="article_content">{{ article.content }}</div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>


    </div>
</div>



{% endblock %}