{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}T&B{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}

    {%  stylesheets '@BTBlogBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}

</head>

<body>
<div class="container-fluid">
    <div id="header" class="c">
        <h1 style="text-align: center">T&B</h1>
        <h3 style="text-align: center">Travel Together</h3>
    </div>
    <nav class="nav nav-pills flex-column flex-sm-row nav-custom" >
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_home') }}">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_thomas') }}">Thomas</a>
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_benjamin') }}">Benjamin</a>
    </nav>
    <div id="content_footer">
        <div id="content">
                {% block body %}
                {% endblock %}
        </div>

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Log out</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Log in</a>
        {% endif %}



        <footer>
                <br>
                <p>T&B Travel Together © {{ 'now'|date('Y') }} </p>

        </footer>
    </div>
</div>



{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){                         {# Script permettant de placer des "hovers" (=Tooltip en bootstrap) #}
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

</body>
</html>