{# app/Resources/views/main.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}T&B{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    {% endblock %}
    {%  stylesheets filter='cssrewrite'
        '@BTBlogBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}

</head>

<body>
<div class="container-fluid">
    <div id="header" class="c">
        <h1 style="text-align: center">T&B</h1>
        <h3 style="text-align: center">Travel Together</h3>
    </div>
    <nav class="nav nav-pills flex-column flex-sm-row nav-custom" >
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_home') }}">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_thomas') }}">Thomas</a>
        <a class="flex-sm-fill text-sm-center nav-link col-md-4" href="{{ path('bt_blog_benjamin') }}">Benjamin</a>
    </nav>
    <div id="content_footer">
        <div id="content">
                {% block body %}
                {% endblock %}
        </div>

        <div id="log_display" class="panel panel-default">
            <div class="panel panel-heading">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    {{ app.user.username }}
                {% else %}
                    Please register below.
                {% endif %}
            </div>
            <div class="panel panel-body">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-info btn-lg pull-left btn-sm" role="button">New password</a>
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info btn-lg pull-left btn-sm" role="button">Edit profile</a>


                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-info btn-lg pull-right btn-sm" role="button">Log out</a>
                    {% if is_granted('ROLE_AUTHOR') %}
                        <a href="{{ path('bt_blog_addArticle') }}" class="btn btn-info btn-lg pull-left btn-sm" role="button">New Article</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }} " class="btn btn-info btn-lg pull-right btn-sm" role="button">Sign in</a>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-info btn-lg pull-right btn-sm" role="button">Log in</a>

                {% endif %}
            </div>

        </div>



        <footer>
                <br>
                <p>T&B Travel Together © {{ 'now'|date('Y') }} </p>

        </footer>
    </div>
</div>



{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){                         {# Script permettant de placer des "hovers" (=Tooltip en bootstrap) #}
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

</body>
</html>