

{% if form is not defined %}


        <div id="com_button">
            <a  href="{{ path('bt_blog_addCommentary',{'id':article.id}) }}" class="btn btn-info btn-lg btn-sm" role="button">Comment</a>
            <div class="information">
                {% for message in app.flashes('notice') %}
                    {{ message }} <span class="glyphicon glyphicon-ok"></span>
                {% endfor %}
            </div>
        </div>
        <hr>

{% endif %}

<br>

<div>
    {% if form is defined %}
        {{ form(form) }}
    {% endif %}

    {%  for commentary in commentaries %}
        <div class="com">
            <div class="col-lg-10">
                <div>{{ commentary.pseudo }} : {{ commentary.commentary }}</div>
                <div class="information">This commentary were posted on {{ commentary.date}}</div>
                <hr>
            </div>
            <div class="col-lg-2">
                {% if app.user is not null %}
                    {% if app.user.username is same as(commentary.pseudo) or is_granted('ROLE_AUTHOR') %}
                        <a href="{{ path('bt_blog_rmCommentary',{'id':commentary.id}) }}" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a href="{{ path('bt_blog_updCommentary',{'id':article.id,'idPost':commentary.id}) }}" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <hr>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    {% else %} <div class="com">No commentary</div>
                <hr>

    {% endfor %}
</div>

