{% extends "layout.html.twig" %}
{% block bundle_body %}


        {%  stylesheets '@BTBlogBundle/Resources/public/css/article.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}

    <div class="row">
        <div class="col-md-8">
            <div class="article_title">
                {{ article.title }}
                {% if is_granted('ROLE_AUTHOR') %}
                    <a id="delButton" href="{{ path('bt_blog_rmArticle',{'id':article.id}) }}" class="btn btn-info btn-lg pull-right btn-sm" role="button">Delete</a>
                    <a id="updButton" href="{{ path('bt_blog_updArticle',{'id':article.id}) }}" class="btn btn-info btn-lg pull-right btn-sm" role="button">Update</a>
                {% endif %}
                <hr>
            </div> <br>
            <div class="article_page_content">
                {{ article.content }}
                <br>
                <br>
                {% for media in media %}
                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" style="display: block; margin: auto;" width="300" height="170" src="https://www.youtube.com/{{ media.link }}" allowfullscreen></iframe></div>
                    <br>
                    <br>
                {% endfor %}
            </div>
                {{ article.date }}
            <hr>
            <br>
        </div>

        <div class="col-md-4">
            <div> {{ include("BTBlogBundle::viewCommentary.html.twig") }}</div>
        </div>
    </div>
{% endblock %}